<div class="main-buttons">
    <a class="circle-link" (click)="previousGraph()" target="_blank" rel="noopener">
        Previous
    </a>
    <a class="circle-link" (click)="nextGraph()" target="_blank" rel="noopener">
        Next
    </a>
</div>

<div class='client-wall-graph' [style.display]="graphType == 0 ? 'flex' : 'none'">
    <svg id='client-wall-chart'>
    </svg>
</div>

<div class="bottles" [style.display]="graphType == 1 ? 'flex' : 'none'">
    <h1 id="title"></h1>
        <div class="all">
          <div class="bottle">
            <div class="cap"></div>
              <div class="glass">
                <div class="inner-glass">
                  <div class="water-level">
                    <div class="wave"></div>
                  </div>
                </div>
              </div>
          </div>
          <div class="image-div">
            <img class="image" src="assets/images/centre_urbain.jpg">
          </div>
          <p class="name">Grand centre urbain</p>
         </div>
        <div class="all">
          <div class="bottle">
            <div class="cap"></div>
              <div class="glass">
                <div class="inner-glass">
                  <div class="water-level">
                    <div class="wave"></div>
                  </div>
                </div>
              </div>
          </div>
          <div class= "image-div">
            <img class= "image" src="assets/images/grande_ville.jpg">
          </div>
          <p class="name">Grande ville</p>
         </div>
         <div class="all">
          <div class="bottle">
            <div class="cap"></div>
              <div class="glass">
                <div class="inner-glass">
                  <div class="water-level">
                    <div class="wave"></div>
                  </div>
                </div>
              </div>
          </div>
          <div class= "image-div">
            <img class= "image" src="assets/images/ville_moyenne.jpg">
          </div>
          <p class="name">Ville moyenne</p>
         </div>
          <div class="all">
          <div class="bottle">
            <div class="cap"></div>
              <div class="glass">
                <div class="inner-glass">
                  <div class="water-level">
                    <div class="wave"></div>
                  </div>
                </div>
              </div>
          </div>
            <div class= "image-div">
              <img class= "image" src="assets/images/village.jpg">
           </div>
           <p class="name">Village</p>
         </div>
</div>

<div class="pyramid-container" [style.display]="graphType == 2 ? 'flex' : 'none'">
</div>

<div class='tupperware-graph' [style.display]="graphType == 3 ? 'flex' : 'none'">
  <svg id='tupperware-chart'>
  </svg>
</div>

<div class="allScales" [style.display]="graphType == 4 ? 'flex' : 'none'">
  <div class="scales">
    <div class="scale" id="scale0">
      <div class="plate">
        <div class="dish">
          <div class="pile0"></div>
          <div class="pile1"></div>
        </div>
      </div>
      <img class="beam" src="assets/images/Accolade.png" />
      <div class="plate">
        <div class="dish">
          <div class="pile2"></div>
          <div class="pile3"></div>
        </div>
      </div>
    </div>

    <div class="bar">
      <div class="stand"></div>
      <div class="stander"></div>
    </div>

    <div style="position: absolute; top: 150px; left: 50%; transform: translateX(-50%);">
      <img src="assets/images/car.png" style="width:200px;height: 50px;" />
    </div>
  </div>

    <!-- SECOND -->

  <div class="scales">
    <div class="scale" id="scale1">
      <div class="plate">
        <div class="dish">
          <div class="pile0"></div>
          <div class="pile1"></div>
        </div>
      </div>
      <img class="beam" src="assets/images/Accolade.png" />
      <div class="plate">
        <div class="dish">
          <div class="pile2"></div>
          <div class="pile3"></div>
        </div>
      </div>
    </div>

    <div class="bar">
      <div class="stand"></div>
      <div class="stander"></div>
    </div>

    <div style="position: absolute; top: 150px; left: 50%; transform: translateX(-50%);">
      <img src="assets/images/bus.png" style="width:200px;height: 50px;" />
    </div>
  </div>

    <!-- THIRD -->
  <div class="scales">
    <div class="scale" id="scale2">
      <div class="plate">
        <div class="dish">
          <div class="pile0"></div>
          <div class="pile1"></div>
        </div>
      </div>
      <img class="beam" src="assets/images/Accolade.png" />
      <div class="plate">
        <div class="dish">
          <div class="pile2"></div>
          <div class="pile3"></div>
        </div>
      </div>
    </div>

    <div class="bar">
      <div class="stand"></div>
      <div class="stander"></div>
    </div>

    <div style="position: absolute; top: 150px; left: 50%; transform: translateX(-50%);">
      <img src="assets/images/velo.png" style="width:200px;height: 50px;" />
    </div>

  </div>
</div>

<div class="donuts-graph" [style.display]="graphType == 5 ? 'flex' : 'none'">
  <div class="donuts">
    <div class="donut">
      <div class="pie animate"></div>
      <div class="text"></div>
    </div>
    <div class="donut">
      <div class="pie animate"></div>
      <div class="text"></div>
    </div>
    <div class="donut">
      <div class="pie animate" ></div>
      <div class="text"></div>
    </div>
    <div class="donut">
      <div class="pie animate"></div>
      <div class="text"></div>
    </div>  
    <div class="donut">
      <div class="pie animate"></div>
      <div class="text"></div>
    </div>
    <div class="donut">
      <div class="pie animate"></div>
      <div class="text"></div>
    </div>
    <div class="donut">
      <div class="pie animate"></div>
      <div class="text"></div>
    </div>
  </div>
</div>

