<div class="main-buttons">
  <a class="circle-link" (click)="previousGraph()" target="_blank" rel="noopener">
      Previous
  </a>
  <a class="circle-link" (click)="nextGraph()" target="_blank" rel="noopener">
      Next
  </a>
</div>
<div class='wall-graph'>
    <svg id='wall-chart'>
    </svg>
</div>

<!--
  <div class="image-stack">
    <img src="assets/images/bike.jpg" alt="Bike Image" class="bottom-image">
    <img src="assets/images/bike.jpg" alt="Bike Image" class="top-image">
  </div>
-->
